<html>
<head>
    <title>HTML .... pages</title>
</head>
<body>
    <!-- header -->
    <h1> Welcome to the Home Page</h1><hr>

    <!-- parigraf or passages -->
    <p>Respected sir,</p>
    <p>I am the student of mechanical </p>

    <!-- link attach to html Page -->
    <a href="http://127.0.0.1:8000/admin/" >This is the link</a><br><br>
    <a href="https://www.w3schools.com/html/html_basic.asp"> Thes is the link</a><br><br>

    <!-- impages -->
    <!-- <img src="\media\C:\Users\Lenovo\Desktop\Practice\DjangoPractice\Book\media\IMG20200124204254.jpg" width="104" height="142"> -->


</body>


</html>